# Ignore build artifacts
*.o
*.out
*.html
compress
decompress-debug
compress-debug
decompress
graph.dot
graph.png
graph.svg
src/combined_code.c

# Ignore custom scripts
push.sh

#ignore build folder
./build
